@{
    ViewBag.Title = "My Contact Info";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Brandan Majeske<br />
    Meridian, Idaho 83642<br />
    <abbr title="Phone">P:</abbr>
    208.258.5259
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@brandanmajeske.com">info@brandanmajeske.com</a><br />
</address>