@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MyToDoList</h2>
    <p class="muted">A simple ASP.NET/C# MVC App</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("View My List", "index", "items", null, new { @class = "btn btn-primary btn-lg"})
    </div>
</div>